{% extends "layout.html" %}

{% block title %}
     About
{% endblock %}

{% block main %}
    <body>
        <h1>About Us</h1>
        <h2 >A student founded project that installs student artwork and organizes instrumental performances in Memphis</h2>
        <p>Created in 2020, we aim to share art throughout the Greater Memphis area. Local students volunteer their time and talent to provide visual and performing arts through exhibits and live performances.</p>
        <p>To participate, find out more on the volunteer page!</p>
    </body>
{% endblock %}