{% extends "layout.html" %}

{% block title %}
     Contact
{% endblock %}

{% block main %}
        <!--<script>
        //     function greet()
        //     {
        //         let name = document.querySelector('#name').value;
        //         alert('Your form have been successfully submitted!\nThank you ' + name + '!');
        //     }
        // </script>-->
    <body>
        <!--<h1>Contact Us</h1>-->
        <!--<h2>If you would like to bring Creativiteens to your community or you have questions, fill out the form below!</h2>-->
        <!--standard-->
        <div class="typeform-widget" data-url="https://form.typeform.com/to/MHlcTYDl" data-hide-headers=true data-hide-footer=true style="width: 100%; height: 500px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=MHlcTYDl&utm_source=typeform.com-01EHSVE28EF0C27NK3X9KYWZCG-free&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>
        <!--full page-->
        <html> <head> <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> <title>Contact Form - Quick Start - FINAL (copy)</title> <style type="text/css"> html{ margin: 0; height: 100%; overflow: hidden; } iframe{ position: absolute; left:0; right:0; bottom:0; top:0; border:0; } </style> </head> <body> <iframe id="typeform-full" width="100%" height="100%" frameborder="0" allow="camera; microphone; autoplay; encrypted-media;" src="https://form.typeform.com/to/MHlcTYDl"></iframe> <script type="text/javascript" src="https://embed.typeform.com/embed.js"></script> </body> </html>
        <!--<form onsubmit="greet(); return false;">-->
        <!--    <div class="form-group">-->
        <!--        <label for="name">Name</label>-->
        <!--        <input type="text" class="form-control" id="name" placeholder="Enter name">-->
        <!--    </div>-->
        <!--    <div class="form-group">-->
        <!--        <label for="email">Email address</label>-->
        <!--        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">-->
        <!--        <small id="emailHelp" class="form-text" style="color:LightGray">We'll never share your email with anyone else.</small>-->
        <!--    </div>-->
        <!--    <div class="form-group">-->
        <!--        <label for="message">Message</label>-->
        <!--        <input type="text" class="form-control" id="message" placeholder="Enter message">-->
        <!--    </div>-->
        <!--    <button type="submit" class="btn btn-primary">Submit</button>-->
        <!--</form><br>-->
        <!--<p>Interested in volunteering? Find out more on the volunteer page!</p>-->
        <!--<a href=https://21b35538-ac89-497c-8218-44849eefa0b3-ide.cs50.xyz:8081/index.html>Home</a>-->
        <!--<a href=https://21b35538-ac89-497c-8218-44849eefa0b3-ide.cs50.xyz:8081/about.html>About</a>-->
        <!--<a href=https://21b35538-ac89-497c-8218-44849eefa0b3-ide.cs50.xyz:8081/volunteer.html>Volunteer</a>-->
    </body>
{% endblock %}