{% extends "layout.html" %}

{% block title %}
     Art Volunteering
{% endblock %}

{% block main %}
    <body>
        <h1>Volunteering with Visual Arts</h1>
        <h2>Open to students in the Greater Memphis area who participate in visual arts!</h2>
        <h2>Eligibility</h2>
        <p class="nospace">Volunteers must fulfill all of the following criteria:</p>
        <ul>
            <li style="margin-bottom: 10px;">Attend a high school or middle school in the Memphis area</li>
            <lh class="nospace">Visual Arts:</lh>
            <li>Be available for drop off or pick up</li>
            <li>Have 2D artwork with no frame</li>
            <li style="margin-bottom: 10px;">Willing to exhibit artwork for a minimum of three months</li>
            <lh class="nospace">Performing Arts:</lh>
            <li>Be proficient in an instrument or vocal performance</li>
            <li style="text-decoration: line-through;">Willing to perform at various locations during select weekends</li>
            <li>Willing to submit video recordings for virtual video performance</li>
        </ul>
        <h2>Performing Arts</h2>
        <p>For performing arts, students volunteer their skills in music to perform around Memphis.
        Volunteers can either perform their own pieces or pieces given by Creativiteens.
        Usually, students would be required to perform live  at various locations on weekends when the student is available.
        However, given the global pandemic, volunteers are asked to send video recordings of their performace to be compiled in a video sent to local nursing homes.
        Multiple pieces are encouraged although not required.</p>
        <!--<a href=https://21b35538-ac89-497c-8218-44849eefa0b3-ide.cs50.xyz:8081/index.html>Home</a>-->
        <!--<a href=https://21b35538-ac89-497c-8218-44849eefa0b3-ide.cs50.xyz:8081/about.html>About</a>-->
        <!--<a href=https://21b35538-ac89-497c-8218-44849eefa0b3-ide.cs50.xyz:8081/contact.html>Contact</a>-->
    </body>
{% endblock %}