{% extends "layout.html" %}

{% block title %}
     Volunteer
{% endblock %}

{% block main %}
    <body>
        <h1>Become a Volunteer!</h1>
        <h2>Why?</h2>
        <ol>
            <li>Give Back to your Community</li>
                <p>Creativiteens aims to better the Memphis community through student artists (musicians, painters, photographers, actors, etc). 
                They are given opportunities to give back to the community, however there is no commitment, which leads to the next reason!</p>
            <li>No Commitment!</li>
                <p>Opportunities can be made to work with their schedule (and some may not even require their presence)!
                The length of opportunities vary, so we can work with your schedule!
                Given the current situation, all opportunities are virtual or do not require volunteer attendance.</p>
            <li>Volunteer Hours</li>
                <p>Want to add something to your resume? Want to get those volunteer/service hours?
                Try volunteering with us! We can get signed forms and confirmation from the organizations we work with!</p>
            <li>Expressing Creativity</li>
                <p>If none of the reasons above are good enough, here's one that might apply. 
                All our volunteers pursue creative outlets, whether in or outside of school.
                As a part of Creativiteens, you can display your art or perform a piece or act out your monologue.
                We can give you an opportunity to show off your creative endeavors!</p>
        </ol>
        <div>
            <p>To find out more, visit our volunteering pages about the </p><a href="/volunteer-art">Visual Arts</a><p> and the </p><a href="/volunteer-music">Performing Arts</a>
        </div>
    </body>
{% endblock %}